/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.auth-link {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container > * {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
  
.form-button {
    width: 100%;
}