<form [formGroup]="signupForm">
    <a class="auth-link" (click)="goToLogin()">Login</a>
    <div class="form-container" style="padding-top:10px">
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="emailControl" [(ngModel)]="user.email">
            <mat-error *ngIf="signupForm.controls.emailControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="signupForm.controls.emailControl.hasError('email')">
                Please enter a valid email address
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Password" 
            formControlName="passwordControl" [(ngModel)]="user.password">
            <mat-error *ngIf="signupForm.controls.passwordControl.hasError('required')">
            Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="signupForm.controls.passwordControl.hasError('validatePasswordStrength')">
            Password must have minimum 6 characters
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Retype Password" 
            formControlName="passwordControl2">
            <mat-error *ngIf="signupForm.controls.passwordControl2.hasError('required')">
            Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="signupForm.controls.passwordControl2.hasError('validatePasswordMatch')">
            Passwords do not match
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Full Name" 
            formControlName="fullNameControl" [(ngModel)]="user.fullName">
            <mat-error *ngIf="signupForm.controls.fullNameControl.hasError('required')">
            Full Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-radio-group [(value)]="user.gender">
            <mat-radio-button value="0">Male</mat-radio-button>
            <mat-radio-button value="1">Female</mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
            <input matInput [matDatepicker]="dob" placeholder="Date of Birth" 
            formControlName="dobControl" [(ngModel)]="user.dob">
            <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
            <mat-datepicker #dob></mat-datepicker>
            <mat-error *ngIf="signupForm.controls.dobControl.hasError('required')">
              Date of Birth is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="signupForm.controls.dobControl.hasError('validateDOB')">
              Date must be before today
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select [(value)]="user.country" placeholder="Select Country">
                <mat-option *ngFor="let country of countryList" value="{{ country }}" (click)="onCountrySelected()">
                    {{ country }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select [(value)]="user.city" placeholder="Select City">
                <mat-option *ngFor="let city of cityList" value="{{ city }}">{{ city }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Address" 
            formControlName="addressControl" [(ngModel)]="user.address"></textarea>
            <mat-error *ngIf="signupForm.controls.addressControl.hasError('required')">
            Address is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Phone" 
            formControlName="phoneControl" [(ngModel)]="user.phone"/>
            <mat-error *ngIf="signupForm.controls.phoneControl.hasError('required')">
            Phone is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="signupForm.controls.phoneControl.hasError('validatePhone')">
            Phone number must be digit
            </mat-error>
        </mat-form-field>
        <br/>
        <div>
            <button class="form-button" mat-raised-button (click)="onSignupClick()" [disabled]="!signupForm.valid">Sign Up</button>
        </div>
    </div>
</form>
