<form [formGroup]="loginForm">
    <a class="auth-link" (click)="goToSignup()">Sign Up</a>
    <div class="form-container" style="padding-top:10px">
        <mat-form-field>
            <input matInput placeholder="Username" formControlName="usernameControl" [(ngModel)]="user.username">
            <mat-error *ngIf="loginForm.controls.usernameControl.hasError('required')">
                Username is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="passwordControl" [(ngModel)]="user.password">
            <mat-error *ngIf="loginForm.controls.passwordControl.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <br/>
        <button mat-raised-button (click)="onLoginClick()" [disabled]="!loginForm.valid">Login</button>
    </div>
</form>


